.heading .heading-heading h1 {
    font-size: 50px;
    line-height: 1.2;
    width: 100%;
    letter-spacing: -2px;
    font-weight: 600;
    strong {
        text-decoration-color: var(--color-base-bg-3);
    }
}
